@media screen and (max-width:1439px) {
    .followers-container {
        display: none;
    }
}

.followers-container {
    background: #121212;
    height: 100%;
    min-height: 100vh;
    position: fixed;
    right: 0;
    width: 375px;
    .item-box {
        display: flex;
        position: relative;
        top: 2px;
    }
    .follower-item {
        display: flex;
        margin-top: 16px;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        img {
            border-radius: 5px;
            border: 1px solid #f8f8f8;
        }
    }
  
    .name-box {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        height: 45px;
    }
    .item-title {
        font-size: 14.9px;
        color: #fff;
        margin-top: 0;
        margin-bottom: 4px;
    }
    .item-username {
        color: #B2B2B2;
        font-size: 11.175px;
        margin: 0;
    }
    .panel {
        overflow: scroll;
        height: calc(100% - 90px);
        padding-top: 16px;
    }
}
